<head><link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"></head>
<div class="content">
  <h1>Registre des employés</h1>
  <br><br>
  <div class="container">
    <input type="text" [(ngModel)]="searchQuery" placeholder="Rechercher des employés...">
    <button type="submit" id="addButton">Rechercher</button><br><br>
  </div>
  <button type="button" (click)="toggleAddPopup()">
    <i class="fa-solid fa-plus"></i> Ajouter </button>

  <div class="dataTables_length bs-select" id="dtBasicExample_length">
    <label>Show 
      <select 
        name="dtBasicExample_length" 
        aria-controls="dtBasicExample" 
        class="custom-select custom-select-sm form-control form-control-sm"
        (change)="onEntriesPerPageChange($event)">
        <option value="5">2</option>
        <option value="10">10</option>
        <option value="25">25</option>
        
      </select> entries
    </label>
  </div>
  <table>
    <thead>
      <tr>
        <th>
          Nom
          <button type="button" class="btn btn-link btn-sm" (click)="sortByName()">
            <i class="th-sm sorting_asc"></i>
          </button>
          <th>
            Prénom
            <button type="button" class="btn btn-link btn-sm" (click)="sortByName()">
              <i class="th-sm sorting_asc"></i>
            </button>
            <th>
              CIN
              <button type="button" class="btn btn-link btn-sm" (click)="sortByName()">
                <i class="th-sm sorting_asc"></i>
              </button>

        <th>Actions</th>
      </tr>



      
    </thead>
    <tbody>
      <tr *ngFor="let employee of getEmployeesForCurrentPage()">
        <td>{{ employee.name }}</td>
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.cin }}</td>
     <td>
            <button (click)="viewEmployee(employee)">
              <i class="material-icons">person</i>
          </button>
          <button (click)="openEditPopup(employee)">
              <i class="material-icons">edit</i>
          </button>
          <button (click)="deleteEmployeeConfirmation(employee)">
              <i class="material-icons">close</i>
          </button>
          </td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-sm-12 col-md-5">
      <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite">
        Showing {{ getFirstEntryIndex() }} to {{ getLastEntryIndex() }} of {{ employees.length }} entries
      </div>
    </div>
    <div class="col-sm-12 col-md-7">
      <div class="dataTables_paginate paging_simple_numbers" id="dtBasicExample_paginate">
        <ul class="pagination">
          
          <li class="paginate_button page-item" [class.disabled]="currentPage === 1" 
              (click)="changePage(currentPage - 1)">
            <a href="#" aria-controls="dtBasicExample" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
          </li>
       
          <li class="paginate_button page-item" [class.active]="page === currentPage" *ngFor="let page of getPages()">
            <a href="#" aria-controls="dtBasicExample"  tabindex="0" 
               class="page-link" (click)="changePage(page)">{{ page }}</a>
          </li>
      
          <li class="paginate_button page-item" [class.disabled]="currentPage === getTotalPages()" 
              (click)="changePage(currentPage + 1)">
            <a href="#" aria-controls="dtBasicExample"  tabindex="0" 
               class="page-link">Next</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
    <app-membre-ajout *ngIf="showAddPopup" (saveEmployee)="addEmployee($event)" (closePopup)="handleClosePopup()"></app-membre-ajout>
  <app-membre-view [employeer]="employeer" *ngIf="openpopup" (ClosePopup)="handeleClosePopup()"></app-membre-view>
  <app-membre-edit *ngIf="showEditPopup" [employee]="employeeToEdit" (edited)="editEmployee($event)"></app-membre-edit>
  <app-membre-delet *ngIf="showConfirmation" (confirmed)="deleteEmployee($event)"></app-membre-delet>
</div>

  <!-- Autres éléments HTML... -->
 

