<head>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
</head>
<div class="content">
  <h1>Ajout de membre</h1>
  <br><br>
  <div class="container">
    <input type="text" [(ngModel)]="searchQuery" placeholder="Rechercher des membres...">

    <button class="ajout" type="button" (click)="toggleAddPopup()">
      <i class="fa-solid fa-plus"></i> Ajouter </button>
  </div>
  <div class="dataTables_length bs-select" id="dtBasicExample_length">
    <label>Show
      <select 
        name="dtBasicExample_length" 
        aria-controls="dtBasicExample" 
        class="custom-select custom-select-sm form-control form-control-sm"
        (change)="onEntriesPerPageChange($event)">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="25">25</option>
      </select> entries
    </label>
  </div>

  <table *ngIf = "showlistesmembre" id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>
          Nom complet
          <button type="button" class="btn btn-link btn-sm" (click)="sortByName()">
            <i class="th-sm sorting_asc"></i>
          </button>
        </th>
       
        <th>
          CIN
          <button type="button" class="btn btn-link btn-sm" (click)="sortByName()">
            <i class="th-sm sorting_asc"></i>
          </button>
        </th>
        <th>
          Poste
          <button type="button" class="btn btn-link btn-sm" (click)="sortByName()">
            <i class="th-sm sorting_asc"></i>
          </button>
        </th>
        <th>
Telephone          <button type="button" class="btn btn-link btn-sm" (click)="sortByName()">
            <i class="th-sm sorting_asc"></i>
          </button>
        </th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let membre of getMembresForCurrentPage()  ">
        
        <td>{{ membre.nom }}</td>
        <td>{{ membre.cin }}</td>
        <td>{{ membre.poste}}</td>
        <td>{{ membre.telephone }}</td>

        
        <td>
          <button (click)="viewMembre(membre)">
            <i class="material-icons">visibility</i>
          </button>
          <button (click)="openEditPopup(membre)">
            <i class="material-icons">edit</i>
          </button>
          <button (click)=" deletemembreConfirmation( membre)">
            <i class="material-icons">close</i>
          </button>
        </td>
      </tr>
    </tbody>
  </table><br>
  <br><div class="row">
    <div class="col-sm-12 col-md-5">
      <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite">
        Showing {{ getFirstEntryIndex() }} to {{ getLastEntryIndex() }} of {{ membre.length }} entries
      </div>
    </div>
    <div class="col-sm-12 col-md-7">
      <div class="dataTables_paginate paging_simple_numbers" id="dtBasicExample_paginate">
        <ul class="pagination">
          <li class="paginate_button page-item" [class.disabled]="currentPage === 1" 
              (click)="changePage(currentPage - 1)">
            <a href="#" aria-controls="dtBasicExample" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
          </li>
          <li class="paginate_button page-item" [class.active]="page === currentPage" *ngFor="let page of getPages()">
            <a href="#" aria-controls="dtBasicExample"  tabindex="0" 
               class="page-link" (click)="changePage(page)">{{ page }}</a>
          </li>
          <li class="paginate_button page-item" [class.disabled]="currentPage === getTotalPages()" 
              (click)="changePage(currentPage + 1)">
            <a href="#" aria-controls="dtBasicExample"  tabindex="0" 
               class="page-link">Next</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <app-membre-ajout *ngIf="showAddPopup" (saveMembre)=" addMembre()" (closePopup)="handleClosePopup()"></app-membre-ajout>
  <app-membre-edit *ngIf="showEditPopup"(saveModifiedMember)="saveModifiedMembre()"  [database]="database" (closePopup)="closeEditPopup()"></app-membre-edit>
<app-membre-delet *ngIf="showConfirmation"  [database]="database" (confirmed)="deletemembre()"  ></app-membre-delet>
<app-membre-view [member]="member" *ngIf="openpopup" (ClosePopup)="handleClosePopup()"></app-membre-view>