<div class="back-layer">
    <div class="section">
        <div #container class="container">
            <h1>VIEW</h1>
            <div class="title">
                <button class="close-button" (click)="closeModal()">Close</button>
            </div>
            <div>
                <p class="animate"> <strong>Nom de la tache:  </strong> {{ task.nomTache}}</p>
                <p class="animate"><strong>etat:</strong> {{ task.etat }}</p>
                <p class="animate"><strong>membre:</strong> {{ task.membre }}</p>
                <p class="animate"><strong>decription:</strong> {{ task.descriptionTache }}</p>
                <p class="animate"><strong>date d'echeance:</strong> {{ task.dateecheance | date: 'dd/MM/yyyy' }}</p>
                
                
            </div>
        </div>
    </div>
  </div>

  