<div class="back-layer">
    <div class="section">
        <div #container class="container">
            <h1>VIEW</h1>
            <div class="title">
                <button class="close-button" (click)="closeModal()">Close</button>
            </div>
            <div>
                <p>Nom de la tache:   {{ task.nomTache}}</p>
                <p>etat: {{ task.etat }}</p>
                <p>membre: {{ task.membre }}</p>
                <p>decription: {{ task.descriptionTache }}</p>
                <p>date d'echeance: {{ task.dateecheance }}</p>
                
                
            </div>
        </div>
    </div>
  </div>

  