<div class="back-layer">
  <div class="section">
    <form (submit)="onSaveClick(nom.value, prenom.value, age.value, telephone.value,  description.value)">
      <h1>Add Project</h1>

      <div>
        <label for="nom">nom del la tache<span class="required-field">*</span>:</label>
        <input type="text" id="nom" name="nom" placeholder="Enter your title" required #nom>
      </div>
      <div>
        <label for="prenom">etat:</label>
       
<select name="pets" id="pet-select"#prenom>
  <option value="">etat</option>
  <option value="approved">approved</option>
  <option value="in review">in review</option>
  <option value="in progress">in progress</option>
  
  </select>
      </div>
     
      
     

      

      
        <div>
          <label for="age">membre d'equipe</label>
<select name="pets" id="pet-select"#age>
  <option value="">membre d'equipe</option>
  <option value="aymen">aymen</option>
  <option value="wassim">wassim</option>

</select>
        </div>
        <div>
          <label for="description">Description:</label>
          <input type="text" id="description" name="description" placeholder="Enter detailed description" #description>
        </div>
        <div>
       
        
          <label for="telephone">date d'echeance</label>
  <input type="date" id="start" name="trip-start" value="2024-03-22" min="2024-01-01" max="2100-12-31" #telephone/>
        </div>
  
    
      <button type="submit">Enregistrer <i class="fa-regular fa-floppy-disk"></i></button>
      <button type="button" (click)="closeModal()" class="cancel-button">Annuler <i class="fa-solid fa-xmark"></i></button>
    </form>
  </div>
</div>
