<div class="back-layer">
  <div class="section">
    <form [formGroup]="newTaskForm" (ngSubmit)="onSaveClick()" >
      <h1>Add Project</h1>

      <div>
        <label for="nomTache">nom de la tache<span class="required-field">*</span>:</label>
        <input type="text" id="nomTache" name="nomTache" formControlName="nomTache" placeholder="Enter your title" required >
      </div>
      <div>
        <label for="prenom">etat:</label>
       
<select name="etat" id="etat" formControlName="etat">
  <option value="">etat</option>
  <option value="approved">approved</option>
  <option value="review">in review</option>
  <option value="progress">in progress</option>
  
  </select>
      </div>
     
      
     

      

      
        <div>
          <label for="membre">membre d'equipe</label>
<select name="membre" id="membre" formControlName="membre">
  <option value="">membre d'equipe</option>
  <option value="aymen">aymen</option>
  <option value="wassim">wassim</option>

</select>
        </div>
        <div>
          <label for="descriptionTache">Description:</label>
          <input type="text" id="descriptionTache" name="descriptionTache" formControlName="descriptionTache" placeholder="Enter detailed description" required >
        </div>
        <div>
       
        
          <label for="dateecheance">date d'echeance</label>
  <input type="date" id="dateecheance" name="trip-dateecheance" value="2024-03-22" min="2024-01-01" max="2100-12-31" formControlName="dateecheance" />
        </div>
  
    
      <button type="submit">Enregistrer <i class="fa-regular fa-floppy-disk"></i></button>
      <button type="button" (click)="closeModal()" class="cancel-button">Annuler <i class="fa-solid fa-xmark"></i></button>
    </form>
  </div>
</div>
