
<div class="content">
  <div class="content__container">
    <p class="content__container__text">
      Hello
    </p>
    
    <ul class="content__container__list">
      <li class="content__container__list__item">Admin !</li>
      <li class="content__container__list__item">Team !</li>
      <li class="content__container__list__item">users !</li>
      <li class="content__container__list__item">everybody !</li>
    </ul>
  </div>
  <div class="letter-image">
    <div class="animated-mail">
      <div class="back-fold"></div>
      <div class="letter">
        <div class="letter-border"></div>
        <div class="letter-title"></div>
        <div class="letter-context"></div>
        <div class="letter-stamp">
          <div class="letter-stamp-inner"></div>
        </div>
      </div>
      <div class="top-fold"></div>
      <div class="body"></div>
      <div class="left-fold"></div>
    </div>
    <div class="shadow"></div>
  </div>
  <h6> <strong>Bienvenue sur la Plateforme de Gestion de Projet N2S TECHNOLOGY</strong><br>

    Accélérez votre succès avec une gestion de projet efficace . <br>
    
    <strong>À propos de N2S TECHNOLOGY : </strong><br>
    
    N2S TECHNOLOGY est une entreprise innovante spécialisée dans le développement de solutions technologiques <br> pour répondre aux besoins complexes de gestion de projet des entreprises modernes.<br>
     Notre expertise combinée à notre passion pour l'innovation nous permet d'offrir des solutions sur mesure <br> pour maximiser l'efficacité opérationnelle et la réussite de nos clients.
    
    
  </h6>
</div>
