<div class="aaaa">
<section id="contact">
  
    <h1 class="section-header">Contact</h1>
    
    <div class="contact-wrapper">
    
    <!-- Left contact page --> 
      
    <form #emailForm="ngForm" (ngSubmit)="sendMail(emailForm)" class="max-w-md mx-auto">
      <div *ngIf="errorMessage" class="text-red-500 mb-4">{{ errorMessage }}</div> <!-- Error Message -->
      <div *ngIf="successMessage" class="text-green-500 mb-4">{{ successMessage }}</div> <!-- Success Message -->
      
      <div class="mb-4">
        <label for="senderName">Nom :</label>
        <input type="text" id="senderName" name="senderName" required [(ngModel)]="senderName" #senderNameInput="ngModel" class="border p-2 w-full">
        <div *ngIf="senderNameInput.touched && senderNameInput.invalid" class="text-red-500 mb-1">Votre nom est requis</div> <!-- Error Message -->
      </div>
      <div class="mb-4">
        <label for="to"> De(E-mail) :</label>
        <input type="email" id="to" name="recipientEmail" required [(ngModel)]="recipientEmail" #recipientEmailInput="ngModel" class="border p-2 w-full">
        <div *ngIf="recipientEmailInput.touched && recipientEmailInput.invalid" class="text-red-500 mb-1">E-mail Développeur est requis</div> <!-- Error Message -->
      </div>
      <div class="mb-4">
        <label for="subject">Subject  : </label>
        <input type="text" id="subject" name="subject" required [(ngModel)]="subject" #subjectInput="ngModel" class="border p-2 w-full">
        <div *ngIf="subjectInput.touched && subjectInput.invalid" class="text-red-500 mb-1">Subject est requis</div> <!-- Error Message -->
      </div>
      <div class="mb-4">
        <label for="replyToEmail">à (E-mail) : </label>
        <input type="email" id="replyto" name="replyto" [(ngModel)]="replyToEmail" #replyToEmailInput="ngModel" class="border p-2 w-full">
      </div>
      <div class="mb-4">
        <label for="message"> Message  :  </label>
        <textarea id="message" name="message" rows="4" required [(ngModel)]="message" #messageInput="ngModel" class="border p-2 w-full"></textarea>
        <div *ngIf="messageInput.touched && messageInput.invalid" class="text-red-500 mb-1">Message est requis</div> <!-- Error Message -->
      </div>
          <button  type="submit" value="SEND">
          <div class="alt-send-button">
            <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
          </div>
        
        </button>
      </form>
      
    <!-- Left contact page --> 
      
        <div class="direct-contact-container">
  
          <ul class="contact-list">
            <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">Tunis, Montplaisir</span></i></li>
            
            <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a href="tel:1-212-555-5555" title="Give me a call">(212) 55 555 555</a></span></i></li>
            
            <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a href="mailto:#" title="Send me an email">n2s-technology</a></span></i></li>
            
          </ul>
   
          <hr>
          <ul class="social-media-list">
            <a href="https://www.facebook.com/N2S.TECHNOLOGY/" target="_blank" class="contact-icon">
                <i class="fa-brands fa-facebook">  </i></a>
           
            <a href="https://workspaceupdates.googleblog.com/2023/04/new-community-features-for-google-chat-and-an-update-currents%20.html" target="_blank" class="contact-icon">
                <i class="fa-brands fa-google-plus">  </i>
            </a> 
            <a href="https://www.linkedin.com/company/n2stechnology/?trk=top_nav_home" target="_blank" class="contact-icon">
                <i class="fa-brands fa-linkedin"></i>  </a>
            
            <a href="https://www.youtube.com/watch?v=aBYOejP6Jbc" target="_blank" class="contact-icon">
                <i class="fa-brands fa-youtube"></i>  </a>
                 
          </ul>
          <hr>
  
          <div class="copyright">&copy; N2S : ALL OF THE RIGHTS RESERVED</div>
  
        </div>
      
    </div>
    
  </section>  
    
</div>



