<div class="back-layer">
  <div class="section">
    <div class="delete-confirmation">
      <div #container class="container">
        <p>Êtes-vous sûr de vouloir supprimer ce projet?</p>
        <div class="title">
          <button (click)="confirmDelete()">Oui</button>
          <button (click)="cancelDelete()">Non</button>
        </div> 
        <p>Title: {{ employeeToDelete.name }}</p>
        <p>Projet Status: {{ employeeToDelete.firstName }}</p>
        <p>Client: {{ employeeToDelete.cin }}</p>
        <p>Start Date: {{ employeeToDelete.startDate }}</p>
        <p>Due Date: {{ employeeToDelete.dueDate }}</p>
        <p>Description: {{ employeeToDelete.description }}</p>
        <p>Category: {{ employeeToDelete.category }}</p>
        <p>Budget: {{ employeeToDelete.budget }}</p>
      </div>
    </div>
  </div>
</div>
