<div class ="back-layer">
    <div class="edit-employee-popup">
        <h2>Edit Employee</h2>
        <label for="newName">New Name:</label>
        <input type="text" id="newName" [(ngModel)]="newName">
        <label for="newFirstName">New First Name:</label>
        <input type="text" id="newFirstName" [(ngModel)]="newFirstName">
        <label for="newCin">New CIN:</label>
        <input type="text" id="newCin" [(ngModel)]="newCin">
        <button (click)="editEmployee()">Save Changes</button>
      </div>
    </div>
      <!-- Votre tableau va ici -->
      