<div class="back-layer">
  <div class="section">
    <form [formGroup]="newProjectForm" (ngSubmit)="onSaveClick()"><!-- Add formGroup binding to the form -->
      <h1>Add Project</h1>

      <div>
        <label for="titre">Title<span class="required-field">*</span>:</label>
        <input type="text"  id="titre" formControlName="titre" placeholder="Enter your title" required>
      </div>
    
      <div *ngIf="newProjectForm.controls['titre'].errors">
        Titre is required
      </div>

      <div>
        <label for="projectStatus">Project Status:</label>
        <select name="projectStatus" id="projectStatus" formControlName="projectStatus">
          <option value="">Select status</option>
          <option value="approved">Approved</option>
          <option value="in review">In Review</option>
          <option value="in progress">In Progress</option>
        </select>
      </div>

      <div>
        <label for="client">Client<span class="required-field">*</span>:</label>
        <input type="text" id="client" formControlName="client" placeholder="Enter your client" required>
      </div>

      <div>
        <label for="team">Teams:</label>
        <input type="text" id="team" formControlName="team" placeholder="Enter your teams">
      </div>

      <div>
        <label for="debutDate">Debut Date:</label>
        <input type="date" id="debutDate" formControlName="debutDate" required>
      </div>

      <div>
        <label for="dueDate">Due Date:</label>
        <input type="date" id="dueDate" formControlName="dueDate" required>
      </div>

      <div>
        <label for="description">Detailed Description:</label>
        <input type="text" id="description" formControlName="description" placeholder="Enter detailed description">
      </div>

      <div>
        <label for="categorie">Categorie:</label>
        <input type="text" id="categorie" formControlName="categorie" placeholder="Enter category">
      </div>

      <div>
        <label for="budget">Project Budget:</label>
        <input type="text" id="budget" formControlName="budget" placeholder="Enter project budget">
      </div>

      <button type="submit">Enregistrer <i class="fa-regular fa-floppy-disk"></i></button>
      <button type="button" (click)="closeModal()" class="cancel-button">Annuler <i class="fa-solid fa-xmark"></i></button>
    </form>
  </div>
</div>
