<div class="back-layer">
  <div class="section">
    <form (submit)="onSaveClick(nom.value, prenom.value, cin.value, age.value, telephone.value, duedate.value, description.value, category.value, pudget.value)">
      <h1>Add Project</h1>

      <div>
        <label for="nom">Title<span class="required-field">*</span>:</label>
        <input type="text" id="nom" name="nom" placeholder="Enter your title" required #nom>
      </div>

      <div>
        <label for="prenom">Project Status:</label>
       
<select name="pets" id="pet-select"#prenom>
  <option value="">etat</option>
  <option value="approved">approved</option>
  <option value="in review">in review</option>
  <option value="in progress">in progress</option>
  
  </select>
      </div>

      <div>
        <label for="cin">Client<span class="required-field">*</span>:</label>
        <input type="text" id="cin" name="cin" placeholder="Enter your client" required #cin>
      </div>

      <div>
        <label for="age">Teams:</label>
        <input type="text" id="age" name="age" placeholder="Enter your teams" #age>
      </div>

      <div>
        <div>
          <label for="duedate">Debut Date:</label>
          <input type="date" id="start" name="trip-start" value="2024-03-22" min="2024-01-01" max="2100-12-31" #duedate>
        </div>
        <label for="telephone">Due Date:</label>
        

<input type="date" id="start" name="trip-start" value="2024-03-22" min="2024-01-01" max="2100-12-31" #telephone/>
      </div>

      

      <div>
        <label for="description">Detailed Description:</label>
        <input type="text" id="description" name="description" placeholder="Enter detailed description" #description>
      </div>

      <div>
        <label for="category">Category:</label>
        <input type="text" id="category" name="category" placeholder="Enter category" #category>
      </div>

      <div>
        <label for="pudget">Project Budget:</label>
        <input type="text" id="pudget" name="pudget" placeholder="Enter project budget" #pudget>
      </div>

      <button type="submit">Enregistrer <i class="fa-regular fa-floppy-disk"></i></button>
      <button type="button" (click)="closeModal()" class="cancel-button">Annuler <i class="fa-solid fa-xmark"></i></button>
    </form>
  </div>
</div>
