<div class="back-layer">
    <div class="section">
        <form [formGroup]="newMembreForm" (ngSubmit)="onSaveClick()" action="/action_page.php">
            <h1>Ajout membre</h1>
         
            <div>
                <label for="Nom">Nom<span class="required-field">*</span>:</label>
                <input type="text" id="Nom" formControlName="Nom"  placeholder="Entrer votre nom" required >
            </div>
        
            <div>
                <label for="Prenom">Prenom<span class="required-field">*</span>:</label>
                <input type="text" id="Prenom" formControlName="Prenom" placeholder="Entrer votre prénom" required #prenom>
            </div>
  
            <div>
                <label for="Cin">CIN<span class="required-field">*</span>:</label>
                <input type="text" id="Cin" formControlName="Cin" placeholder="Entrer votre CIN" required #cin>
            </div>
  
            <div>
                <label for="Poste">Poste:</label>
                <select formControlName="Poste" id="Poste" required #poste>
                    <option value="">Sélectionner votre poste</option>
                    <option value="Développeur web">Développeur web</option>
                    <option value="Développeur mobile">Développeur mobile</option>
                    <option value="Design">Design</option>
                </select>
            </div>
  
            <div>
                <label for="Telephone">Téléphone:</label>
                <input type="tel" id="Telephone" formControlName="Telephone" pattern="[0-9]{2}-[0-9]{3}-[0-9]{3}" placeholder="Entrer votre téléphone" required #telephone>
            </div>
  
            <div>
                <label for="Email">E-mail:</label>
                <input type="Email" id="Email" formControlName="Email" placeholder="Entrer votre e-mail" required #email>
            </div>
  
            <button type="submit">Enregistrer <i class="fa-regular fa-floppy-disk"></i></button>
            <button type="button" (click)="closeModal()" class="cancel-button">Annuler <i class="fa-solid fa-xmark"></i></button>
        </form>
    </div>
</div>
