<head>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
</head>
<div class="content">
  <h1>Gestion des tâches</h1>
  <br><br>
  
  <li class="item-a" >
           
      
    <div class="carte">
      <button type="button" (click)="toggleAddPopup()">
        Approved <i class="fa-solid fa-plus"></i> 
        
      </button>
      <div class="detail1"  *ngFor="let tache of tache">
        <div *ngIf="tache.etat === 'approved'">
        <div><strong>Nom de la tâche:</strong> {{ tache.nomTache }}</div>
        <div><strong>État:</strong> {{ tache.etat }}</div>
        <div><strong>Membre:</strong> {{ tache.membre }}</div>
        <div><strong>Description:</strong> {{ tache.descriptionTache }}</div>
        <div><strong>Date d'échéance:</strong> {{ tache.dateecheance }}</div>
        <button (click)="viewTask(tache)">
          <i class="material-icons">visibility</i>
        </button>
        <button (click)="openEditPopup(tache)">
          <i class="material-icons">edit</i>
        </button>
        <button (click)="deleteTaskConfirmation(tache)">
          <i class="material-icons">delete</i>
        </button> 
        </div>
      </div>

  </div>
  <br><br><br>
 </li>
 <li class="item-b" >
           
      
  <div class="carte">
    <button type="button" (click)="toggleAddPopup()">
      In Review <i class="fa-solid fa-plus"></i> 
      
    </button>
    <div class="detail2"  *ngFor="let tache of tache">
      <div *ngIf="tache.etat === 'review'">
      <div><strong>Nom de la tâche:</strong> {{ tache.nomTache }}</div>
      <div><strong>État:</strong> {{ tache.etat }}</div>
      <div><strong>Membre:</strong> {{ tache.membre }}</div>
      <div><strong>Description:</strong> {{ tache.descriptionTache }}</div>
      <div><strong>Date d'échéance:</strong> {{ tache.dateecheance }}</div>
      <button (click)="viewTask(tache)">
        <i class="material-icons">visibility</i>
      </button>
      <button (click)="openEditPopup(tache)">
        <i class="material-icons">edit</i>
      </button>
      <button (click)="deleteTaskConfirmation(tache)">
        <i class="material-icons">delete</i>
      </button> 
    </div>
    </div>

</div>
<br><br><br>
</li>





  <li class="item-c" >
           
      
    <div class="carte">
      <button type="button" (click)="toggleAddPopup()">
        In Progress <i class="fa-solid fa-plus"></i> 
        
      </button>
      <div class="detail3"  *ngFor="let tache of tache">
        <div *ngIf="tache.etat === 'progress'">
        <div><strong>Nom de la tâche:</strong> {{ tache.nomTache }}</div>
        <div><strong>État:</strong> {{ tache.etat }}</div>
        <div><strong>Membre:</strong> {{ tache.membre }}</div>
        <div><strong>Description:</strong> {{ tache.descriptionTache }}</div>
        <div><strong>Date d'échéance:</strong> {{ tache.dateecheance }}</div>
        <button (click)="viewTask(tache)">
          <i class="material-icons">visibility</i>
        </button>
        <button (click)="openEditPopup(tache)">
          <i class="material-icons">edit</i>
        </button>
        <button (click)="deleteTaskConfirmation(tache)">
          <i class="material-icons">delete</i>
        </button> 
        </div>
      </div>

  </div>
  
  <br><br><br>
 </li>
 <br><app-popup-tasks *ngIf="showAddPopup" (saveEmployee)="addTask()" (closePopup)=" handleClosePopup()"></app-popup-tasks>
    <app-tasks-delete *ngIf="showConfirmation" (confirmed)="deleteTask()" [dbase]="dbase" ></app-tasks-delete>
    <app-tasks-edit *ngIf="showEditPopup"(saveModifiedTask)="saveModifiedTask()" [dbase]="dbase"  (closePopup)="closeEditPopup()"></app-tasks-edit>
    <app-tasks-view [task]="task" *ngIf="openpopup" (ClosePopup)=" handleClosePopup()"></app-tasks-view>
  </div>
 