
<div class="content">
  <head>

  
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"></head>
    <h1>Tasks</h1><br>
  
  <br><br> 
  <!-- Your cards content -->
  <div class="container">
      <!-- 
        
    <ul id="autowidth" class="cs-hidden">
      <li class="item-a" >
        <div class="carte">
         
          <button type="button" (click)="toggleAddPopup()">
            News            <i class="fa-solid fa-plus"></i> 
          </button>
          <div class="detail1" *ngFor="let tache of tacheApproved()">
            <div><strong>Nom de la tâche:</strong> {{ tache.NomTache }}</div>
            <div><strong>État:</strong> {{ tache.etat }}</div>
            <div><strong>Membre:</strong> {{ tache.membre }}</div>
            <div><strong>Description:</strong> {{ tache.descriptionTache }}</div>
            <div><strong>Date d'échéance:</strong> {{ tache.dateecheance }}</div>
         
          </div>
        </div>
        <br><br><br>
      </li>
    <li class="item-b">
           
      
    <div class="carte">
      <button type="button" (click)="toggleAddPopup()">
        In Review <i class="fa-solid fa-plus"></i> 
        </button>
      <div class="detail2" *ngFor="let employee of getEmployeesReview()">
        <div><strong>Nom de la tâche:</strong> {{ employee.name }}</div>
        <div><strong>État:</strong> {{ employee.firstName }}</div>
        <div><strong>Membre:</strong> {{ employee.age }}</div>
        <div><strong>Description:</strong> {{ employee.description }}</div>
        <div><strong>Date d'échéance:</strong> {{ employee.phoneNumber }}</div>
       
      </div>
      
    </div>
    <br><br><br>
 </li>

 <li class="item-c" >
           
      
    <div class="carte">
      <button type="button" (click)="toggleAddPopup()">
        In Progress <i class="fa-solid fa-plus"></i> 
        
      </button>
      <div class="detail3" *ngFor="let employee of getEmployeesProgress()">
        <div><strong>Nom de la tâche:</strong> {{ employee.name }}</div>
        <div><strong>État:</strong> {{ employee.firstName }}</div>
        <div><strong>Membre:</strong> {{ employee.age }}</div>
        <div><strong>Description:</strong> {{ employee.description }}</div>
        <div><strong>Date d'échéance:</strong> {{ employee.phoneNumber }}</div>
        
      
      </div>

  </div>
  <br><br><br>
 </li>

 
</ul>
    
 </div>
  
  
 <app-popup-tasks *ngIf="showAddPopup" (saveEmployee)="addEmployee($event)" (closePopup)="handleClosePopup()"></app-popup-tasks>
  <app-tasks-view [employeer]="employeer" *ngIf="openpopup" (ClosePopup)="handeleClosePopup()"></app-tasks-view>
  <app-tasks-delete *ngIf="showConfirmation" (confirmed)="deleteEmployee($event)"></app-tasks-delete>
      
      <app-tasks-edit *ngIf="showEditPopup"(savemodifiedEmployee)="saveModifiedEmployee($event)" (closePopup)="closeEditPopup()"></app-tasks-edit>
  
    -->