
<div class="login-box">
  <h2>𝐋𝐨𝐠𝐢𝐧</h2>
  <form>
    <div class="user-box">
      <input type="text" name="username ou Email" [(ngModel)]="username" required>
      <label>Username ou E-mail</label>
    </div>
    <div class="user-box">
      <input type="password" name="password" [(ngModel)]="password" required>
      <label>Password</label>
    </div>
    <a href="http://localhost:4200/list-projet/currentPage" *ngIf="(username === 'wassim' && password === 'user' )   || (mails.includes(username) && mdps.includes(password))  ">
      Submit
    </a> 
  </form>
</div>
